@font-face {
    font-family: SunlifeSans;
    src: url(fonts/SunLifeSans-Regular.otf);
}

html {
    background-color: #F5F5F5;
    font-family: SunlifeSans;

}

#yellow-bar {
    margin: 0 8% 0 8%;
    padding: 0;
    height: 5px;
    background-color: #febe10;
}

a {
    text-decoration: none;
}

header {
    /* padding: 0 10px 5px 10px; */
    background-color: white;
    box-shadow: 0px 5px #f3f3f3ce;
    color: #003946 !important;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav .menu ul {
    margin-right: 15%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    list-style: none;
}

nav .menu ul li {
    margin-left: 5%;
    font-size: 18px;
}

.nav-container ul li {
    margin-left: 10px;
    padding: 5px;

}

nav .menu ul li a,
.nav-container ul li a {
    color: #003946 !important;
    font-weight: bolder;
}

.nav-container ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 8%;
}

.curve {
    background-image: url(icons/header.png);
    background-size: cover;
    background-position: center;
    height: 216px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 30px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid black;
}

.center {
    text-align: center;
}

.left {
    margin: 25px 20% 25px 20%;
    font-size: 14px;
}

.policy-cards {
    margin: 25px 20% 25px 20%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.card {
    display: grid;
    padding: 15px;
    background-color: white;
    cursor: pointer;
}

.policy-title {
    /* border: 1px solid black; */
    font-size: 22px;
}

.policy-image {
    /* border: 1px solid black; */
    padding: 0 !important;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy-icon {
    height: 100px;
    width: 150px;
}

.heart {
    cursor: pointer;
}



.asset-cards {
    margin: 25px 20% 25px 20%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    border-radius: 16px;
}

#asset-image {
    padding: 20px;
    background-image: url(ss/WRITING.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 16px;
}

#asset-info {
    padding: 20px;
}

.asset-total {
    display: flex;
    justify-content: space-between;
}
.asset-total span{
    font-size: 16px;
    margin-right: 25px;
    
}
.asset-total h3 {
    font-size: 22px;
    font-weight: lighter;
}
.asset-total p{
    font-size: 22px;
}

.asset-investment {
    display: flex;
    justify-content: space-between;
}

.asset-savings {
    display: flex;
    justify-content: space-between;
}

.green{
    list-style: none;
}
.green::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: green; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
  }

  .yellow{
    list-style: none;
}
.yellow::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #febe10; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
  }
.notif {
    margin: 5% 20% 10% 20%;
    font-size: 16px;
    font-weight: bold;
}







footer {

    position: fixed;
    bottom: 0;
    background-color: rgb(228, 228, 228);
}

#green-bar {
    padding: 15px 20% 15px 20%;
    width: 100vw;
    background-color: #003946;
    color: white;
}

#copyright {
    padding: 0px 20% 0px 20%;
}